[submodule "crates/pindakaas-cadical/vendor/cadical"]
	path = crates/pindakaas-cadical/vendor/cadical
	url = https://github.com/pindakaashq/cadical.git
	branch = track/pindakaas
[submodule "crates/pindakaas-intel-sat/vendor/intel_sat"]
	path = crates/pindakaas-intel-sat/vendor/intel_sat
	url = https://github.com/alexander-nadel/intel_sat_solver.git
[submodule "crates/pindakaas-kissat/vendor/kissat"]
	path = crates/pindakaas-kissat/vendor/kissat
	url = https://github.com/arminbiere/kissat.git
